

<link rel="stylesheet" href="customer_index.css">

<!-- NAV BAR -->  
    <nav class="navbar navbar-expand-lg" style="background-color: #da6220;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    TjStockOptima</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="colors">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<p class = "newcustomer">
<%= link_to "New customer", new_customer_path, class: "btn btn-success"%>
</p>
<p style="color: green"><%= notice %></p>
<h1 class ="customertitle">Customers</h1>
<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p class = "show_customer_button">
      <%= link_to "Show this customer", customer, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

