<h1 class="editing-color-header">Editing color</h1>

<%= render "form", color: @color %>

<br>

<div class="editing-color-actions">
  <a class="btn btn-primary" href="/colors/2/edit">Edit </a>
  <a class="btn btn-secondary" href="/colors">Back to colors</a>
</div>
