<div id="<%= dom_id preorder %>">
  <p>
    <strong>Color:</strong>
    <%= preorder.color %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= preorder.target_date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= preorder.quantity %>
  </p>

</div>
