.customertitle{
    padding-left: 550px;
    color: #da6220;
 }

 .newcustomer{
    padding-left: 1090px;
    padding-top: 20px;
     
 }

 .show_customer_button{
   padding-left: 340px;
   padding-top: 20px;
 }
