.showproduct{
    padding-left: 70px;
    padding-top: 20px;
 }
 .newproduct{
    padding-left: 1090px;
    padding-top: -200px; 
 }
 .producttitle{
    padding-left: 550px;
    color: #da6220;
 }
 #show-product-button{
    margin-left: 20px;
 }