<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4 text-center">Editing Product</h1>

      <%= render "form", product: @product %>

      <br>

      <div class="d-flex justify-content-between">
        <%= link_to "Show this product", @product, class: "btn btn-info" %>
        <%= link_to "Back to products", products_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
