<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<div id="products">
  <% @products.each do |product| %>
    <div class="product-item mb-3 p-3 border rounded">
      <%= render product %>
      <p>
        <%= link_to "Show this product", product, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path, class: "btn btn-success" %>
