<h1 class="page-title">New Product</h1>

<div class="form-container">
  <%= render "form", product: @product %>
</div>

<br>

<div class="back-link">
  <%= link_to "Back to products", products_path, class: "btn btn-secondary", id: "prod_back" %>
</div>